In [2]:
import sys
print("Python version: ", sys.version)
import os
import pandas as pd
from tqdm import tqdm
from pathlib import Path

Python version:  3.10.11 (tags/v3.10.11:7d4cc5a, Apr  5 2023, 00:38:17) [MSC v.1929 64 bit (AMD64)]

In [3]:
# Paths
SRC_DIR = Path('../Data/')
DATA_DIR = SRC_DIR / 'csv files'
STATS_DIR = SRC_DIR / 'csv stats'

In [54]:
num = 1

filename = f'dataset_enron{num}'
# filename = 'dataset_spamassassin'
dataset_df = pd.read_csv(os.path.join(DATA_DIR, f"{filename}.csv"))

In [58]:
dataset_df.head()

,id,class,label,subject,body
0,1,ham,0,christmas tree farm picture,NaN
1,2,ham,0,"vastar resource , inc .","gary , production high island larger block - N..."
2,3,ham,0,calpine daily gas nomination,- calpine daily gas nomination NUMBER . doc
3,4,ham,0,re : issue,fyi - see note - already done . stella - - - -...
4,5,ham,0,meter NUMBER nov allocation,fyi . - - - - - - - - - - - - - - - - - - - - ...

In [59]:
dataset_df['class'].value_counts()

class
ham     3672
spam    1500
Name: count, dtype: int64

In [60]:
dataset_df.duplicated().sum()

0

In [61]:
dataset_df.isnull().sum()

id          0
class       0
label       0
subject    65
body       99
dtype: int64

In [52]:
num = 1
filename_stats = f'stats_enron{num}'
# filename = 'stats_spamassassin'
spam_df = pd.read_csv(os.path.join(STATS_DIR, f"{filename_stats}_spam.csv"))
ham_df = pd.read_csv(os.path.join(STATS_DIR, f"{filename_stats}_ham.csv"))

In [53]:
combined_df = pd.concat([spam_df.head(10), ham_df.head(10)], axis=1)
combined_df

          word   freq     word   freq
0       NUMBER  17197   NUMBER  60986
1          com    991      ect  13893
2         http    984      hou   7281
3      company    916    enron   6279
4            u    720     deal   3334
5        price    664  subject   2730
6            e    634   please   2697
7          www    587      com   2693
8  information    514      gas   2629
9         font    511       cc   2377